<section class="container">
  <h3 class="breakfast-name">{{breakfast-name}}</h3>
  <section class="flex-row justify-center">
    {{#each breakfast.art as |breakfastart|}}
      <section class="card">
        <a href="/breakfasts/{{id}}">
          <header>{{name}}</header>

          <div class="card-body">
            <img src="/images/{{filename}}" alt="{{id}}" />
          </div>
        </a>
      </section>
    {{/each}}
  </section>
</section>