{{#each renderFast as |random|}}
  <div class="container">
    <label for="header1">Breakfasts</label>
    <div class="header1" id="header1"><header>{{random.name}}</header></div>
    <img src="/images/{{random.filename}} " alt="{{random.name}}" />
    <hr class="rounded" />
  </div>

{{/each}}

{{#each renderSides as |random|}}
  <div class="container">
    <label for="header2">Sides</label>
    <div class="header2" id="header1"><header>{{random.name}}</header></div>
    <img src="/images/{{random.filename}} " alt="{{random.name}}" />
    <hr class="rounded" />
  </div>
{{/each}}